/* General Reset */
* {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    color: #FAF8E9; /* Light text */
    background-color: #000000; /* Dark background */
    text-align: center; /* Center text globally if intended */
}

header {
    padding: 5rem;
    background-color: #000000; /* Darker shade for the header */
}

header h1 {
    font-size: 2.5rem;
    color: #FAF8E9;
}

.png-image {
    width: 500px;
    height: 500px;
    display: block;
    margin: 0 auto;
}
